<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sabapp">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/saba"
        android:label="Invitation Tracker"
        android:roundIcon="@drawable/saba"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditEventActivity"></activity>
        <activity android:name=".AddEventActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".PhoneActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>